
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-evenly;
    background-color: whitesmoke;
    margin-bottom: 10px;;
    margin-right: 40px;
    margin-left: 40px;
    
}
.products {
    margin: -20px;
    margin-bottom: 10px;
}
header {
    display: flex;
    justify-content: space-evenly;
    background-color: #92b2ba;
    color: whitesmoke;
    margin-bottom: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    align-content: center;
    padding: 10px;
}
.row1, .row2, .row3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.one {
    display: flex;
    flex-direction: column;
    box-shadow: .25em .25em .25em lightgrey;
    margin: 10px;
    background-color: white;
}


.topline {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    
}

#tags {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
    margin-bottom:10px;
    text-size-adjust: 40%;
}

footer {
    display: flex;
    background-color:  #eeeeee;
    height: 300px;
    padding: 100px
}

.socialmedia {
   display: flex;
   flex-direction: row;
   color: #92b2ba;
}

.bottomleft {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    justify-content: space-around;
    flex-grow: .3;
    padding-left: 100px;
    color: #f0a8bb;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.company {
    color: #92b2ba;
    font-size:  60px;
    text-shadow: 2px 2px 2px white;
}

.name {
    color: #92b2ba;
}

.tagline {
    display: flex;
    background-color: white;
    padding: .5em;
    color: #f0a8bb;
    font-size: smaller;
    margin-right:100px;
    text-size-adjust: 40%;
    translate: 50px
}

.bottommiddle, .bottomright {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-indent: 2em;
    justify-content: space-around;
}
.price {
    background-color: #f0a8bb;
    color: white;
    padding: .25em;
}

.pink, .roses, .bouquet, .apologies, .gerbera, .singular, .decor, .yellow, .sunflower,.multiple,.garden,.singularmug,.white, .babybreath,.mixed,.mini,.fun,.love,.hyacinths,.can,.basket{
    background-color: #e8e6e6;
    color: #777777;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

.title {
    color: #92b2ba
}

.flower {
    position: relative;
    margin-bottom: 10px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    translate: -90px -350px;
}

.bottomright {
    display: flex;
}